.home_body {
    max-width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_body_sectionPicture {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 35%;
    max-width: 35%;
    border-right: 2px solid #d73950;
}

.logoCreateEmployee {
    width:200px;
}

.home_body_sectionPicture h2{
    color:#d73950;
    font-size: 40px;
}

.home_body_sectionForm {
    background-color: #b3b1b1;
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 64.9%;
    max-width: 64.9%;
    display: flex;
    justify-content: center;
}

#create-employee {
    max-width: 70%;
    padding:30px;
    padding-left: 70px;
    padding-right: 70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px #000000 solid;
}
#date-of-birth-error, #start-date-error,#state-error, #zip-code-error, #department-error {
    display:none;
    color:#d32f2f;
    font-size: 12px;
}
#date-of-birth-error p, #start-date-error p, #zip-code-error p, #state-error p {
    margin-top: 5px;
    margin-bottom: 2px;
}

 #department-error p {
    margin-top: 15px;
    margin-bottom: 2px;
 }

#first-name, #last-name{
    width: 250px;
    height: 20px;
    margin-bottom: 0px;
}

#street, #city {
    height:20px;
    width: 350px;
}
#state {
    width:350px;
    height :30px;
}
#zip-code{
    width:340px;
    height:25px;
}

.dateArea, .stateArea, .zipCodeArea, .departmentArea{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:15px;
}
.DateStart, .Birth{
    width:250px;
    height:20px;
}

#department {
    width: 250px;
    height: 30px;
}


fieldset {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save {
    background-color: #d73950;
    margin-top:30px;
    width:150px;
    height:30px;
    border-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
}

@media (max-width: 1100px) { 
    #first-name, #last-name {
        max-width: 150px;
    }

    #department {
        max-width: 150px;
    }

    fieldset {
        max-width: 200px;
    }
}